.main-container {
  margin: 40px 40px;
}

.userpage {
  margin-left: 20px;
}

.bi-door-closed {
  margin-right: 5px;
  margin-left: -10px;
}

.option.logout {
  display: flex;
  justify-content: center;
  background-color: #9c0930 !important;
  width: 200px;
  color: white;
}

.main-container {
  margin: 0px 40px 40px;
}

.change-info-container {
  /* background-color: antiquewhite; */
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: -25px;
  justify-content: space-between;
}

.change-option {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.settings-option {
  margin-bottom: 0px;
}

.settings-input {
  font-family: "Jost", sans-serif;
  border: none;
  border: solid 1px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  height: 60px;
  width: 85%;
  font-size: 1.1rem;
  text-align: start;
  padding-left: 10px;
  border-radius: 10px;
}

.alert-danger,
.error{
  color: red;
}