{% extends "layout.html" %} {% block content %}

<!DOCTYPE html>
<html>
  <body>
    <h1>{{ article.title }}</h1>
    <p><strong>Author:</strong> {{ article.author }}</p>
    <button onclick="readArticle()" class="tts-button">🔊 Read Article</button>

    <p><strong>Date:</strong> {{ article.publishedAt[:10] }}</p>
    <img
      src="{{ article.urlToImage }}"
      alt="News Image"
      style="width: 100%; max-height: 400px; object-fit: cover"
    />
    <p><strong>Description:</strong> {{ article.description }}</p>
    <p><a href="{{ article.url }}" target="_blank">Read original</a></p>
    <p><a href="{{ url_for('main_page') }}">Back to results</a></p>

    <script>
      function readArticle() {
        const title = "{{ article.title }}";
        const date =
          "This article was published on {{ article.publishedAt[:10]}}";
        const author = "{{ article.author }}";
        const description = "{{ article.description}}";
        const content = `{{ article.content}}`;

        const fullText = `
      Title: ${title}.
      Date: ${date}.
      Author: ${author}.
      Description: ${description}.
    `;

        const utterance = new SpeechSynthesisUtterance(fullText);
        utterance.lang = "en-US";
        speechSynthesis.speak(utterance);
      }
    </script>
  </body>
</html>

{% endblock content %}
