{% extends "layout.html" %} {% block content %}

<!DOCTYPE html>
<html>
  <body style="height: 3000px">
    <header class="header">
      <div class="title-wrapper">
        <i class="bi bi-globe"></i>
        <h1 class="title">Your News</h1>
      </div>
      <a href="{{url_for('user_page')}}" class="user-container">
        <i class="bi bi-person-circle"></i>
        <p class="username">{{userName}}</p>
      </a>
    </header>

    <img src="{{ article.urlToImage }}" alt="News Image" />
    <div class="news-header">
      <h1>{{ article.title }}</h1>
      <h2 style="font-weight: 500">{{ article.author }}</h2>
      <h4 style="font-weight: 400">{{ article.publishedAt[:10] }}</h4>
    </div>

    <div class="news-full-info">
      <p><strong>Description:</strong> {{ article.description }}</p>
      <p><strong>Summary:</strong> {{ summary }}</p>
      <p><a href="{{ article.url }}" target="_blank">Read original</a></p>
      <p><a href="{{ url_for('main_page') }}">Back to results</a></p>
      <button onclick="readArticle()" class="tts-button">
        🔊 Read Article
      </button>
    </div>

    <form method="POST" action="{{ url_for('add_favorite') }}">
      <input type="hidden" name="title" value="{{ article.title }}" />
      <input type="hidden" name="author" value="{{ article.author }}" />
      <input
        type="hidden"
        name="publishedAt"
        value="{{ article.publishedAt[:10] }}"
      />
      <input
        type="hidden"
        name="description"
        value="{{ article.description }}"
      />
      <input type="hidden" name="summary" value="{{ summary }}" />
      <input type="hidden" name="urlToImage" value="{{ article.urlToImage }}" />
      <input type="hidden" name="url" value="{{ article.url }}" />

      <button type="submit">⭐ Save to Favorites</button>
    </form>

    <script>
      function readArticle() {
        const title = "{{ article.title }}";
        const date = " {{ article.publishedAt[:10]}}";
        const author = "{{ article.author }}";
        const description = "{{ article.description}}";
        const content = `{{ summary }}`;
        const fullText = `
      The title of the article is: ${title}.
      This article was published on: ${date}.
      The author of the aricle is: ${author}.
      The description states that: ${description}.
      ${description}.
    `;

        const utterance = new SpeechSynthesisUtterance(fullText);
        utterance.lang = "en-US";
        speechSynthesis.speak(utterance);
      }
    </script>
  </body>
</html>

{% endblock content %}
