{% extends "layout.html" %} {% block content %}

<!DOCTYPE html>
<html>
  <body style="height: 3000px">
    <header class="header">
      <div class="title-wrapper">
        <i class="bi bi-globe"></i>
        <h1 class="title">Your News</h1>
      </div>

      <div class="user-container">
        <i class="bi bi-person-circle"></i>
        <p class="username">{{userName}}</p>
      </div>
    </header>

    <img src="{{ article.urlToImage }}" alt="News Image" />
    <main class="news-full-info">
      <h1>{{ article.title }}</h1>
      <p><strong>Author:</strong> {{ article.author }}</p>

      <p><strong>Date:</strong> {{ article.publishedAt[:10] }}</p>
      <p><strong>Description:</strong> {{ article.description }}</p>
      <p><strong>Summary:</strong> {{ summary }}</p>
      <p><a href="{{ article.url }}" target="_blank">Read original</a></p>
      <p><a href="{{ url_for('main_page') }}">Back to results</a></p>
      <button onclick="readArticle()" class="tts-button">
        🔊 Read Article
      </button>
    </main>

    <script>
      function readArticle() {
        const title = "{{ article.title }}";
        const date = " {{ article.publishedAt[:10]}}";
        const author = "{{ article.author }}";
        const description = "{{ article.description}}";
        const content = `{{ summary }}`;
        const fullText = `
      The title of the article is: ${title}.
      This article was published on: ${date}.
      The author of the aricle is: ${author}.
      The description states that: ${description}.
      ${description}.
    `;

        const utterance = new SpeechSynthesisUtterance(fullText);
        utterance.lang = "en-US";
        speechSynthesis.speak(utterance);
      }
    </script>
  </body>
</html>

{% endblock content %}
