{% extends "layout.html" %} {% block content %}

<form method="POST" action="">
  {{ form.hidden_tag() }} {% set flash_messages =
  get_flashed_messages(with_categories=true) %}

  <fieldset class="form-og-container">
    <div class="create-acc">
      <p>Login to Your Account</p>
    </div>

    <div class="form-group">
      {% if form.email.errors %} {{ form.email(class="form-control
      form-control-lg is-invalid", placeholder="Email") }}
      <div class="invalid-feedback">
        {% for error in form.email.errors %}
        <i class="bi bi-envelope-exclamation"></i>
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.email(class="form-control form-control-lg",
      placeholder="Email") }} {% for category, message in flash_messages %} {%
      if category == 'email' %}
      <div class="invalid-feedback d-block">
        <span>{{ message }}</span>
      </div>
      {% endif %} {% endfor %} {% endif %}
    </div>

    <div class="form-group">
      {% if form.password.errors %} {{ form.password(class="form-control
      form-control-lg is-invalid", placeholder="Password") }}
      <div class="invalid-feedback">
        {% for error in form.password.errors %}
        <span>{{ error }}</span>
        {% endfor %}
      </div>
      {% else %} {{ form.password(class="form-control form-control-lg",
      placeholder="Password") }} {% for category, message in flash_messages %}
      {% if category == 'password' %}
      <div class="invalid-feedback d-block">
        <span>{{ message }}</span>
      </div>
      {% endif %} {% endfor %} {% endif %}
    </div>

    <div class="form-group form-check">
      {{ form.remember() }}
      <label class="form-check-label" for="{{ form.remember.id }}">
        Remember Me
      </label>
    </div>

    <div class="form-group">
      {{ form.submit(class="btn btn-outline-info submit-btn") }}
    </div>

    <div class="form-group text-center">
      <p>
        Or <a href="{{ url_for('register') }}">create an account</a> if you
        don’t have one.
      </p>
    </div>
  </fieldset>
</form>

{% endblock content %}
