{% extends "layout.html" %} {% block content %}

<head>
  <link
    rel="icon"
    href="{{ url_for('static', filename='images/web-icon.ico') }}"
    type="image/x-icon"
  />
</head>
<body>
  <header class="header">
    <div class="title-wrapper">
      <i class="bi bi-globe"></i>
      <h1 class="title">Your News</h1>
    </div>

    <div class="user-container">
      <i class="bi bi-person-circle"></i>
      <p class="username">{{userName}}</p>
    </div>
  </header>

  <h2 class="search">{{ subtitle or "Search for News" }}</h2>

  <form method="POST" class="search-div">
    <input
      type="text"
      name="query"
      placeholder="Enter a topic..."
      required
      class="search-bar"
      style="font-weight: 300"
    />
    <button type="submit" class="search-btn">Search</button>
  </form>

  {%if show_latest%}

  <div class="top-news-world">
    <p>Lastest 50</p>
  </div>

  {% for titles,dates,authors,descriptions,thumbnails,sources,information in
  news_data %}
  <div class="news-container">
    <div class="news-img-div">
      <img src="{{thumbnails}}" alt="" />
    </div>

    <div class="info-container">
      <div class="news-title-date">
        <p>{{ titles }}</p>
        <p>{{ dates }}</p>
      </div>
      <p class="descriptions">{{ descriptions }}</p>
    </div>
  </div>

  {% endfor %}

  <div class="pagination">
    {% if current_page > 1 %}
    <a
      class="pagination-option"
      href="{{request.path }}?page={{current_page - 1}}"
      >Previus</a
    >
    {% endif %} {% if current_page < 5 %}
    <a
      class="pagination-option"
      href="{{request.path }}?page={{current_page + 1}}"
      >Next</a
    >
    {% endif %}
  </div>
  {% endif %}

  <div class="top-news-world">
    <p>Top News in the World</p>
  </div>
  <div class="grid-container">
    <div class="box" style="grid-area: box-1">
      <div class="img-bg" id="firstC">
        <img
          src="{{ top_news_data[0][4] }}"
          alt=""
          onerror="this.onerror=null; this.src='{{default_image }}';"
        />
      </div>

      <div class="top-information-container">
        <div class="top-title">{{ top_news_data[0][0] }}</div>

        <div class="author-date-container">
          <p><strong>Author: </strong>{{ top_news_data[0][2] }}</p>
          <p>{{ top_news_data[0][1] }}</p>
        </div>

        <p class="top-drescription">{{ top_news_data[0][3] }}</p>
      </div>
    </div>

    <div class="box horizontal-dis" style="grid-area: box-2">
      <div class="img-bg">
        <img
          src="{{ top_news_data[1][4] }}"
          alt=""
          onerror="this.onerror=null; this.src='{{default_image }}';"
        />
      </div>
      <div class="top-information-container">
        <div class="top-title">{{ top_news_data[1][0] }}</div>

        <div class="author-date-container">
          <p><strong>Author: </strong>{{ top_news_data[1][2] }}</p>
          <p>{{ top_news_data[1][1] }}</p>
        </div>

        <p class="top-drescription">{{ top_news_data[1][3] }}</p>
      </div>
    </div>

    <div class="box horizontal-dis" style="grid-area: box-3">
      <div class="img-bg">
        <img
          src="{{ top_news_data[2][4] }}"
          alt=""
          onerror="this.onerror=null; this.src='{{default_image }}';"
        />
      </div>
      <div class="top-information-container">
        <div class="top-title">{{ top_news_data[2][0] }}</div>

        <div class="author-date-container">
          <p><strong>Author: </strong>{{ top_news_data[2][2] }}</p>
          <p>{{ top_news_data[2][1] }}</p>
        </div>

        <p class="top-drescription">{{ top_news_data[2][3] }}</p>
      </div>
    </div>

    <div class="box" style="grid-area: box-4">
      <div class="img-bg">
        <img
          src="{{ top_news_data[3][4] }}"
          alt=""
          onerror="this.onerror=null; this.src='{{default_image }}';"
        />
      </div>
      <div class="top-information-container">
        <div class="top-title">{{ top_news_data[3][0] }}</div>

        <div class="author-date-container">
          <p><strong>Author: </strong>{{ top_news_data[3][2] }}</p>
          <p>{{ top_news_data[3][1] }}</p>
        </div>

        <p class="top-drescription">{{ top_news_data[3][3] }}</p>
      </div>
    </div>

    <div class="box" style="grid-area: box-5">
      <div class="img-bg">
        <img
          src="{{ top_news_data[4][4] }}"
          alt=""
          onerror="this.onerror=null; this.src='{{default_image }}';"
        />
      </div>
      <div class="top-information-container">
        <div class="top-title">{{ top_news_data[4][0] }}</div>

        <div class="author-date-container">
          <p><strong>Author: </strong>{{ top_news_data[4][2] }}</p>
          <p>{{ top_news_data[4][1] }}</p>
        </div>

        <p class="top-drescription">{{ top_news_data[4][3] }}</p>
      </div>
    </div>
    <div class="box" style="grid-area: box-6">
      <div class="img-bg">
        <img
          src="{{ top_news_data[5][4] }}"
          alt="dsfa"
          onerror="this.onerror=null; this.src='{{default_image }}';"
        />
      </div>
      <div class="top-information-container">
        <div class="top-title">{{ top_news_data[5][0] }}</div>

        <div class="author-date-container">
          <p><strong>Author: </strong>{{ top_news_data[5][2] }}</p>
          <p>{{ top_news_data[5][1] }}</p>
        </div>

        <p class="top-drescription">{{ top_news_data[5][3] }}</p>
      </div>
    </div>

    <div class="box" style="grid-area: box-7">
      <div class="img-bg">
        <img
          src="{{ top_news_data[6][4] }}"
          alt="dsfa"
          onerror="this.onerror=null; this.src='{{default_image }}';"
        />
      </div>
      <div class="top-information-container">
        <div class="top-title">{{ top_news_data[6][0] }}</div>

        <div class="author-date-container">
          <p><strong>Author: </strong> {{ top_news_data[6][2] }}</p>
          <p>{{ top_news_data[6][1] }}</p>
        </div>

        <p class="top-drescription">{{ top_news_data[6][3] }}</p>
      </div>
    </div>
  </div>

  {% endblock %}
</body>
